*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}
body {
     position:relative;
     background: #edb3e7;
}
.wrapper {
     width: 900px;
     margin-left: auto;
     margin-right: auto;
}
.header {
     background: #736356;
     color: #fff;
     padding-top: 60px;
     padding-left: 40px;
     font-size: 40px;
     height: 150px;
}
.container {
    border-left: 200px solid #7dda8a; 
    border-right: 15em solid #7e7dda; 
    background: #d97d7e;
}
.aside1 { 
     width: 180px; 
     float: left; 
     margin-left: -200px;
     padding-top: 20px;
     padding-left: 20px;
     font-size: 40px;
     color: #fff;
}
.aside2 { 
     width: 180px; 
     float: right; 
     margin-right: -180px; 
     padding-top: 10px;
     padding-left: 10px;
     font-size: 40px;
     color: #fff;
}
.content { 
     min-height: calc(100vh - 60px);
     padding: 20px;
     font: 30px Arial bold;
     text-align: justify;

} 
.clear { 
     clear: both; 
}
.footer {
     background: #736356;
     color: #fff;
     height: 150px;
     position: relative;
     padding-top: 40px;
     padding-left: 40px;
     font-size: 40px;
}